/*.login-div {
  position: relative;
  height: 300px;
  width: 320px;
  margin: 100px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(25, 25, 25, 0.75);
  box-shadow: 0px 10px 60px -5px #000;
  text-align: center;
}*/

/*.form-control {
  padding: 10px 20px;
  display: block;
  margin: 15px auto;
  width: 210px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}*/

/*.form-control:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0);
  opacity: 0.6;
}*/

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

.login-button {
  background-color: #2F75B8;
  color: #FFF;
  width: 254px;
  height: 39px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:focus {
  outline: none;
}

/* Button border radius */

.login-div,
.form-control,
.form-control:focus,
.login-button,
.login-with-google {
  border-radius: 2px;
}

/* The `or-divider` is the thingy that divides local login from OAuth login */

.or-divider {
  overflow: hidden;
  text-align: center;
  margin: 20px 20px;
  color: #A9A9A9;
}

.or-divider:before,
.or-divider:after {
  background-color: #A9A9A9;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.or-divider:before {
  right: 0.5em;
  margin-left: -50%;
}

.or-divider:after {
  left: 0.5em;
  margin-right: -50%;
}

/* Google button */

.login-with-google {
  width: 254px;
  height: 39px;
  display: block;
  margin: 15px auto;
  color: #FFF;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  background-color: #DB4A37;
  text-decoration: none;
}

.login-with-google .icon {
  float: left;
  font-size: 21px;
  width: 50px;
  height: 26px;
  margin: 7px;
  padding: 2px;
  text-align: center;
  border-right: 1px solid #FFF;
}

.logout {
  font-size: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2F75B8;
}
